$black: #000000;
$oxfordBlue: #14213d;
$orangeWeb: #fca311;
$platinum: #e5e5e5;
$white: #ffffff;
$webColorDarkHover: #ffffff4d;

.MuiFormControl-root {
  .MuiFormLabel-root.Mui-focused {
    color: $orangeWeb;
  }
  .MuiInput-underline:after {
    border-bottom: $orangeWeb 1px solid;
  }

  &:hover {
    .MuiInputLabel-root {
      color: $orangeWeb;
    }
    .MuiInputBase-root:hover {
      &::before {
        border-bottom: $orangeWeb 1px solid;
      }
    }
  }
}

.MuiPaper-root {
  .MuiList-root {
    background-color: $black;

    .Mui-selected {
      color: $orangeWeb;
      background-color: $oxfordBlue;

      &:hover {
        background-color: $webColorDarkHover;
      }
    }
  }
}
