$black: #000000;
$oxfordBlue: #14213d;
$orangeWeb: #fca311;
$platinum: #e5e5e5;
$white: #ffffff;

* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body,
#root,
.app {
  height: 100%;
  margin: 0;
}

a {
  text-decoration: none;
  color: $white;

  &:hover {
    color: $orangeWeb;
    cursor: pointer;
  }
}

/* === Header === */
.header-container {
  width: 100%;
  padding: 1rem;
  background-color: $black;
  position: fixed;

  .title-container {
    display: flex;

    .title {
      margin: auto 0;
      font-size: large;
      font-weight: bolder;
      color: $orangeWeb;
    }
  }

  .menu {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    a {
      margin-right: 1rem;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

/* === Content === */
.content {
  background-color: $oxfordBlue;
  color: $white;
  min-height: 100%;
  margin-bottom: -47px;
}

/* === Footer === */
footer {
  width: 100%;
  background-color: $black;
  color: $platinum;
  padding: 1rem;
  font-size: small;
  text-align: center;
}
