$black: #000000;
$oxfordBlue: #14213d;
$orangeWeb: #fca311;
$platinum: #e5e5e5;
$white: #ffffff;

* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $white;

  &:hover {
    color: $orangeWeb;
  }
}

/* === Header === */
.header-container {
  padding: 2rem;
  background-color: $black;

  .title {
    font-size: x-large;
    font-weight: bolder;
    color: $orangeWeb;
  }
}
