@font-face {
  font-family: "QuicksandRegular";
  src: local("QuicksandRegular"),
    url("../fonts/Quicksand-Regular.ttf") format("truetype");
  font-weight: normal;
}
@font-face {
  font-family: "NotoSansTCRegular";
  src: local("NotoSansTCRegular"),
    url("../fonts/NotoSansTC-Regular.otf") format("opentype");
  font-weight: normal;
}
